[submodule "3rdparty/Megatron-LM"]
	path = 3rdparty/Megatron-LM
	url = https://github.com/NVIDIA/Megatron-LM.git
[submodule ".claude/geodesic-claude-tooling"]
	path = .claude/geodesic-claude-tooling
	url = https://github.com/GeodesicResearch/geodesic-claude-tooling.git
[submodule "3rdparty/torch-profiling-tutorial"]
	path = 3rdparty/torch-profiling-tutorial
	url = https://github.com/Quentin-Anthony/torch-profiling-tutorial.git
